#cloud-config
bootcmd:
  - printf "[Resolve]\nDNS=8.8.8.8" > /etc/systemd/resolved.conf
  - [systemctl, restart, systemd-resolved]

users:
  - name: {{.username}}
    gecos: "Instruqt"
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false
    passwd: {{.password}}

final_message: "The system is finally up, after $UPTIME seconds"